/* ------------------------------------------------------------ *\
	Form create article
\* ------------------------------------------------------------ */

.form-create-article {
	.form__head {
		margin-bottom: 40px;
	}

	.form__row {
		margin-bottom: 20px;

		&:last-child {
			margin: 0;
		}
	}

	.form__label {
		font-size: 20px;
		font-weight: 500;
		display: block;
		margin-bottom: 10px;
	}

	.form__field {
		border: 2px solid var(--c-brown);
		background: none;
		background: var(--c-white);
		border-radius: 8px;
		width: 100%;
		display: block;
		padding: 10px 10px;
		color: var(--c-brown);

		&::file-selector-button {
			border-radius: 4px;
			background: var(--c-brown);
			border: none;
			color: var(--c-white);
			margin-right: 10px;
			display: inline-block;
			padding: 5px 10px;
		}
	}

	.form__field--upload {
		border: none;
		padding: 0;
	}

	.form__field--textarea {
		min-height: 150px;
		resize: none;
	}

	.form__actions {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 2px solid var(--c-brown);
	}

	.form__btn {
		border-radius: 8px;
		background: var(--c-brown);
		border: none;
		color: var(--c-white);
		margin-right: 10px;
		display: inline-block;
		padding: 10px 20px;
		font-size: 22px;
	}
}
