/* ------------------------------------------------------------ *\
	Banner
\* ------------------------------------------------------------ */

.banner {
	text-align: center;
	padding: 60px 0;
	background: var(--c-magenta);
	color: var(--c-white);
	margin-bottom: 80px;
}
