/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	.header__logo {
		max-width: 150px;
		display: inline-block;
	}

	.header__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.header__nav {
	}

	.header__nav ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
}
